TP-SOAP-Client/src/main/java/com/soa/client/reservation.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gestionReservation.microservices.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gestionReservation.microservices.com/" name="ReservationService">
<types>
<xsd:schema>
<xsd:import namespace="http://gestionReservation.microservices.com/" schemaLocation="http://localhost:8888/ws/reservation?xsd=1"/>
</xsd:schema>
</types>
<message name="ajouterReservation">
<part name="parameters" element="tns:ajouterReservation"/>
</message>
<message name="ajouterReservationResponse">
<part name="parameters" element="tns:ajouterReservationResponse"/>
</message>
<message name="getReservations">
<part name="parameters" element="tns:getReservations"/>
</message>
<message name="getReservationsResponse">
<part name="parameters" element="tns:getReservationsResponse"/>
</message>
<message name="annulerReservation">
<part name="parameters" element="tns:annulerReservation"/>
</message>
<message name="annulerReservationResponse">
<part name="parameters" element="tns:annulerReservationResponse"/>
</message>
<portType name="ReservationService">
<operation name="ajouterReservation">
<input wsam:Action="http://gestionReservation.microservices.com/ReservationService/ajouterReservationRequest" message="tns:ajouterReservation"/>
<output wsam:Action="http://gestionReservation.microservices.com/ReservationService/ajouterReservationResponse" message="tns:ajouterReservationResponse"/>
</operation>
<operation name="getReservations">
<input wsam:Action="http://gestionReservation.microservices.com/ReservationService/getReservationsRequest" message="tns:getReservations"/>
<output wsam:Action="http://gestionReservation.microservices.com/ReservationService/getReservationsResponse" message="tns:getReservationsResponse"/>
</operation>
<operation name="annulerReservation">
<input wsam:Action="http://gestionReservation.microservices.com/ReservationService/annulerReservationRequest" message="tns:annulerReservation"/>
<output wsam:Action="http://gestionReservation.microservices.com/ReservationService/annulerReservationResponse" message="tns:annulerReservationResponse"/>
</operation>
</portType>
<binding name="ReservationServicePortBinding" type="tns:ReservationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ajouterReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="annulerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservationService">
<port name="ReservationServicePort" binding="tns:ReservationServicePortBinding">
<soap:address location="http://localhost:8888/ws/reservation"/>
</port>
</service>
</definitions>